* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    width: 100%;
    font-size: 16px;
   font-family: 'Times New Roman', Times, serif;
}

.container-floid {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 95px;
}



header .container .menu a {
    text-decoration: none;
    color: #4b4b4e;
    font-size: 0.875em;
    margin: 0 20px;
}

header .container .menu a:hover,
header .container .menu a.active {
    color: #ffcc00;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid #ffcc00;  
}

header form div {
    padding: 7px 21px;
    border: 1px solid #ffcc00;
    border-radius: 50px;
}

header form div input[type="text"] {
    border: none;
    outline: none;
    width: 320px;
}

header form div input[type="submit"] {
    background: url(../image/search.png) no-repeat;
    background-size: cover;
    width: 25px;
    height: 23px;
    border: none;
}

header form div input[type="submit"]:hover {
    cursor: pointer;
    background: url(../image/search_active.png) no-repeat;
    background-size: cover;
    width: 25px;
    height: 23px;
}

header .cart {
    align-items: start;
}

header .cart img {
    width: 20px;
    margin-top: 4px;
    margin-right: 7px;
    cursor: pointer;
}

header .cart div p {
    font-size: 0.900em;
    align-items: start;
    color: #888888;
}

header .cart div a {
    font-size: 0.750em;
    color: #ffcc00;
    text-decoration: none;
}

header .cart div a:hover {
    text-decoration: underline;
}