/*
992 - 1199
768 - 991
576 - 768 635,9
460 - 576
414 - 460
375 - 414
320 - 375
*/

@media screen and (max-width: 1199px) {
    header > div .cart {
        padding-right: 10px;
    }
    
    header form div {
        width: 337px;
    }

    header form div input[type="text"] {
        width: 186px;
    }

    footer {
        padding-left: 15px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    header > .container{
        flex-wrap: wrap;
        justify-content: center;
    } 
    
    header > .container > img {
        margin-right: 35px;
        margin-bottom: 10px;
    }

    header > .container form {
        margin-right: 20px;
    }

    header > .container .cart {
        margin-left: 20px;
    }

    header nav { 
        margin-right: 80px;
    }

    footer .right form div {
        width: 340px;
    }
}

@media screen and (max-width: 767px) {
    header .menu {
        margin-right: 0;
    }
    header > .container form {
        margin-right: 5px;
    }
    
    footer .container {
        flex-wrap: wrap;
    }

    footer .right {
        margin: 20px auto 0;
    }

    footer .copyrights {
        margin-top: 18px;
    }
    
    footer .left nav {
        margin-left: 90px;
    }
}

@media screen and (max-width: 794px) {
    footer .left nav {
    margin-left: 73px;
    }
}

@media screen and (max-width: 555.9px){
header .menu {
        margin-bottom: 20px;
        font-size: 0.875em;
    }
}

@media screen and (max-width: 505px) {
    header .menu {
        margin-right: 0;
    }

    header form div {
        width: 270px;
        }
    footer .left nav {
        margin-left: 46px;
    }
}

@media screen and (max-width: 460px) {
    header .container .menu a {
        margin: 0 15px;
    }
    footer .left nav {
        margin-left: 46px;
    }
}

@media screen and (max-width: 408.9px) {
    header .container .menu a {
        margin: 0 8px;
    }

    header form div {
        margin-bottom: 10px;
    }

    header > .container > img {
        margin-left: 26px;
    }

    footer > .container {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    footer form div {
        width: 90% !important;
        margin: 0 auto;
    }

    footer form div input[type="text"] {
        width: 100% !important;
    }

    footer .menu {
        margin-bottom: 15px;
    }

    footer > .container > img {
        margin: 0 auto 10px;
    }
}

@media screen and (max-width: 397px) {
    footer .left {
        display: block;
    }

    footer .left figure figcaption {
        width: auto;
    }

    footer .left figure {
        text-align: center;
    }

    footer .left nav {
        margin-top: 45px;
    }

    footer > .d-flex {
        display: block;
    }

    footer .left figure > img {
        margin-left: auto;
    }
    footer .right form div {
        width: 280px;
    }

}
