/*
992 - 1199
768 - 991
576 - 768 635
460 - 576
414 - 460
375 - 414
320 - 375
*/

@media screen and (max-width: 1199px) {
    header > div .cart {
        padding-right: 10px;
    }
    
    header form div {
        width: 337px;
    }

    header form div input[type="text"] {
        width: 186px;
    }
}

@media screen and (max-width: 991px) {
    header > .container{
        flex-wrap: wrap;
        justify-content: center;
    } 
    
    header > .container > img {
        margin-right: 35px;
        margin-bottom: 10px;
    }

    header > .container form {
        margin-right: 20px;
    }

    header > .container .cart {
        margin-left: 20px;
    }

    header nav { 
        margin-right: 80px;
    }
}

@media screen and (max-width: 635.9px) {
    header .menu {
        margin-right: 0;
    }
    header > .container form {
        margin-right: 5px;
    }
}

@media screen and (max-width: 555.9px){
 header .menu {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 505px) {
    header .menu {
        margin-right: 0;
    }

    header form div {
        width: 270px;
        }
}

@media screen and (max-width: 460px) {
    header .container .menu a {
        margin: 0 15px;
    }
}

@media screen and (max-width: 408.9px) {
    header .container .menu a {
        margin: 0 8px;
    }
   
    header form div {
        margin-bottom: 10px;
    }

    header > .container > img {
        margin-left: 26px;
    }
}
